.modal {
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 30%;
  top: 35%;
  width: 60%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  box-shadow:
    -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;

  &.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(black, 0.2);
  }

  @supports (offset-rotate: 0deg) {
    // OLD
    // offset-rotation: 0deg;
    // NEW
    offset-rotate: 0deg;
    offset-path: path("M 250,100 S -300,500 -700,-200");

    &.off {
      offset-distance: 100%;
    }
  }

  @media (prefers-reduced-motion) {
    offset-path: none;
  }

  h2 {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
    color: white;
  }

  .content {
    padding: 1rem;
    height: 100%;
    bottom: 0;
  }

  .actions {
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 0.5rem 1rem;

    button {
      border: 0;
      background: #78f89f;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      line-height: 1;
    }
  }
}

canvas {
  width: 60%;
  height: 70%;
}

.marker {
  background-image: url('https://lh3.googleusercontent.com/proxy/YPDdg5S2IyxTH9W7i1q-D9Cq_GEBCMvd6RARjZTOUksEUyoy7J8XP6VUqSvz0qvQwj8Cwuxb1aFdyWqXWDnajLhJZhcxMnUnn10');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}