.card {
  border: 1px solid #d3d3d3;
  border-radius: .25rem;
  max-height: 400px;
}

.bg-img {
  background-size: cover;
  background-position: center;
  background-color: #ccc;
}

.img {
  object-fit: cover;
  width: 100%;
  max-height: 150px;
  cursor: pointer;
}

.content {
  padding: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* Style Form Container */
.form-container {
  max-width: 30vw;
  padding: 1rem;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #F1F3F6;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  box-shadow: 0 2px 8px -1px rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .11);
  margin: 0 auto;
  margin-bottom: 5px;
}

.form {
  text-align: center;
  vertical-align: middle;
}

.form-group {
  margin-bottom: .3rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.col-3 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-9 {
  flex: 0 0 100%;
  max-width: 100%;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.form-control {
  /* display: block; */
  width: 100%;
  line-height: 1.5;
  color: #495057;
  padding: 0.3em;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.form-text {
  color: #555;
  margin-bottom: 0;
}

.btn {
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  background-color: #007bff;
  margin: 0 auto;
}

/* Change Style when screen width is 768px or more */
@media (min-width: 768px) {
  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  label {
    margin-bottom: 0;
  }

  .btn {
    display: inline-block;
    width: auto;
  }
}
/* Change Style when screen width is 768px or more */
@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .form-container {
    min-width: 90%;
    padding: 1rem;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #F1F3F6;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0 2px 8px -1px rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .11);
    margin: 0 auto;
    margin-bottom: 5px;
  }
}